/*
Created by: Kathato Mthethwa
File Name: contact.html
Date: 08/03/2022
*/

/* CSS Reset */
body, header, nav, main, footer, h2, h4, div, img, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for body and images */
body {
  background-color: #22C2C2;
}

img {
  max-width: 100%;
  display: block;
}

/* Style rules for box sizing applies to all elements */
* {
  box-sizing: border-box;
}

/* Style rules for skip navigation link */
.skip {
  position: absolute;
  left: -999px;
}

.skip:focus {
  color: #fff;
  background-color: #fff;
  text-decoration: none;
  padding: 0.5%;
  top: auto;
  left: auto;
  right: 190px;
  z-index: 1;
}

/* Styles rules for header */
header {
  top: 0;
  height: 185px;
}

header img {
  margin: 0 auto;
}

/* Style rules for sign-in button */
#signinBtn {
  position: absolute;
  top: 20px;
  right: 15px;
  padding: .5%;
  width: auto;
  text-align: center;
  font-family: 'Acme', sans-serif;
  background-color: #365B6D;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
}

#signinBtn:hover {
  background-color: #fff;
  color: #22C2C2;
}

#signinBtn:active {
  background-color: #365B6D;
  color: #22C2C2;
}

#nosignin {
  display: none;
  position: absolute;
  top: 55px;
  right: 10px;
  width: 200px;
  padding: .5%;
  text-align: right;
  font-family: 'Acme', sans-serif;
  color: #fff;
}

/* Styles for the overlay for signin box (taken from Chapter-05-JS-Files) */
#signinOverlay {
  position: fixed;                        /* Overlay is fixed on screen */
  z-index: 1;                             /* Overlay sits on top of other content */
  width: 100%;                            /* Full width */
  height: 100%;                           /* Full height */
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style rules for nav area */
nav {
  padding: 1%;
  margin-bottom: 1%;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  font-size: 1.5em;
  font-family: 'Acme', sans-serif;
  border-top: 3px dotted #365B6D;
}

nav li:first-child {
  border-top: none;
}

nav li a {
  display: block;
  padding: 0.5em 1em;
  color: #000;
  text-decoration: none;
}

nav li a:active {
  color: #F4B324;
}

/* Show mobile class, hide tab-desk class */
.mobile {
  display: block;
}

.tab-desk {
  display: none;
}

/* Style rules for main content */
main {
  background-color: #fff;
  margin: 5%;
  padding: 2%;
  font-family: 'Ubuntu', sans-serif;
}

main h1 {
  text-align: center;
  color: #F4B324;
}

main h2 {
  text-align: center;
}

#action {
  text-align: center;
  margin: 2%;
  color: #F4B324;
}

#intro-banner {
  border: 5px dotted #F4B324;
  padding: 2%;
  margin: 2%;
}

#intro-banner h1, #intro-banner h2 {
  text-align: center;
  color: #CB6CE6;
}

#classes-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


div#gallery img {
  display: inline-block;
  padding: 2%;
}

/* -- Style rules for lightbox (adapted from Chapter-05-JS-Files lightbox.css) -- */
div#lightbox {
  position: relative;
  width: auto;
  height: auto;
  margin: 20px auto;
}

/* Styles for Next and Prev buttons */
div#lightbox div#lbPrevBtn, div#lightbox div#lbNextBtn {
  position: absolute;
  width: 5%;
  height: 50px;
  top: 280px;
  line-height: 50px;
  font-size: 3em;
  text-align: center;
  z-index: 1;
  background: rgb(0, 0, 0, 0.5);
  cursor: pointer;
  user-select: none;
}

/* Positioning of the left arrow */
div#lightbox div#lbPrevBtn {
  left: 0px;
}

/* Positioning of the right arrow */
div#lightbox div#lbNextBtn {
  right: 0px;
}

/* Styles for the box containing slide images */
div#lightbox div#lbImages {
  display: flex;
  flex-direction: row;     /* Place images within a flexbox on a single row */
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;        /* Hide images which overflow the box border */
}

/* Styles for images within the slideshow box */
div#lbImages img {
  display: block;
  width: auto;
  height: 500px;
  margin-right: 13px;
  cursor: pointer;
  border: 8px dotted #22C2C2;
  padding: 2px;
  user-select: none;   
}

/* ---------------------------------------------------------*/
/* Styles for the overlay displaying an image in fullscreen (taken from Chapter-05-JS-Files) */

/* Styles for the overlay */
#overlay {
  position: fixed;                        /* Overlay is fixed on screen */
  z-index: 1;                             /* Overlay sits on top of other content */
  width: 100%;                            /* Full width */
  height: 100%;                           /* Full height */
  top: 0;
  left: 0;
  background-color: rgba(200, 240, 240, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the figure box within the overlay */
#overlay figure {
  display: block;
  width: 80%;
  max-width: 800px;
}

/* Styles for the image within the overlay */
#overlay figure img {
  display: block;
  margin: auto;
  width: auto;
  height: 700px;
  box-shadow: 5px 5px 20px black;
  animation-name: zoom;      /* animate the opening of the figure */
  animation-duration: 1s;    /* over a 1-second interval */
}

/* Styles for the caption within the overlay */
#overlay figure figcaption {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Acme', sans-serif;
  color: #365B6D;
  margin-top: 15px;
  animation-name: zoom;      /* animate the opening of the figure */
  animation-duration: 1s;    /* over a 1-second interval */  
}

/* Styles for the overlay close button */
#overlayCloseBtn {
  position: absolute;
  top: 20px;
  right: 40px;
  color: #365B6D;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
}

/* Hovering styles for the modal window close button */
#overlayCloseBtn:hover {
  color: #F8D485;
  text-shadow: 3px 3px 0px black;
}

/* Keyframe animation for the opening of the modal window figure and caption */
@keyframes zoom {
 from {transform:scale(0)}
 to {transform:scale(1)}
}
/* ---------------------------------------------------------*/

#contact, #nav-btn, #zoomBtn {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

#contact h2 {
  margin-bottom: 2%;
  font-size: 1.5em;
  color: #365B6D;
}

#contact h4 {
  font-size: 1.35em;
  color: #365B6D;
}

#contact a, #nav-btn a, #zoomBtn a {
  color: #22C2C2;
  text-decoration: none;
  font-size: 1.25em;
  padding: 1%;
  margin: 0.35em;
  display: inline-block;
  border: 3px solid #365B6D;
  border-radius: 8px;
}

#contact a:hover, #nav-btn a:hover, #zoomBtn a:hover {
  background-color: #22C2C2;
  border: none;
  color: #fff;
}

#contact a:active, #nav-btn a:active, #zoomBtn a:active {
  border: none;
  color: #365B6D;
}

/* Style rules for form elements */
#form {
  border: 5px dotted #CB6CE6;
  padding: 2%;
  text-align: center;
}

form {
  width: auto;
  margin: auto;
}

fieldset, input, select, textarea {
  margin-bottom: 2%;
}

fieldset, legend {
  font-size: 1.1em;
  color: #CB6CE6;
}

label {
  display: block;
  padding-top: 1%;
}

.btn {
  grid-column: 1 / span 2;
  background-color: #F4B324;
  color: #fff;
}

.btn:hover {
  color: #CB6CE6;
}

.btn:active {
  background-color: #CB6CE6;
  color: #F4B324;
}

form #submit {
  margin: 0 auto;
  border: none;
  display: block;
  padding: 2%;
  font-size: 1.5em;
  border-radius: 10px;
}

/* Style rules for footer content */
footer {
  color: #fff;
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

footer p a {
  text-decoration: none;
  color: #fff;
}

footer p a:active {
  color: #365B6D;
}

/* Media Query for Tab-Desk */
@media screen and (min-width: 975px), print {

  /* Tab-Desk Viewport: show tab-desk class, hide mobile class */
  .tab-desk {
    display: block;
  }

  .mobile {
    display: none;
  }

  /* Tab-Desk Viewport: Style rules for header */
  header {
    width: 25%;
    float: left;
  }

  /* Tab-Desk Viewport: Style rules for nav area */
  nav {
    font-size: 0.60em;
    width: 70%;
    float: right;
  }

  /* Tab-Desk Viewport: Style rules for main area */
  main {
    clear: left;
    display: block;
  }

    /* Tab-Desk Viewport: Style rules for tables */
  table {
    margin: auto;
    width: 100%;
  }

  th, td {
    padding: 1%;
    color: #000;
    text-align: center;
  }

  td {
    font-size: 1.15em;
  }

  caption {
    font-size: 2em;
    padding: 1%;
    color: #F4B324;
  }

  /* Tab-Desk Viewport: Style rules for class-calendar table */
  .class-calendar th {
    background-color: #F4B324;
    font-size: 1.25em;
  }

  .calendar-today {
    border: 3px solid #365B6D;
  }

  .calendar-class-day {
    background-color: #A6F2F2;
  }

  .calendar-class-cancelled {
    background-color: #CCC;
  }

  /* Tab-Desk Viewport: Style rules for calendar-code table */
  .calendar-code {
    border: 3px solid #F4B324;
  }

  .calendar-code td {
    width: 225px;
    padding: 0.35%;
  }

  /* Tab-Desk Viewport: Style rules for class-schedule table */
  .class-schedule {
    border: 5px dotted #CB6CE6;
  }

  .class-schedule th {
    background-color: #F4B324;
    font-size: 1.25em;
  }

  .class-schedule td {
    font-size: 1.15em;
  }

  .class-schedule tr:nth-child(odd) {
    background-color: #F8D485;
  }

  /* Tab-Desk Viewport: Style rules for form elements */
  .form-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  footer p a:hover {
    color: #5E17EB;
  }

  footer p a:active {
    color: #365B6D;
  }

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1420px), print {

  /* Desktop Viewport: Style rules for header */
  header {
    width: 25%;
    float: left;
  }

  /* Desktop Viewport: Style rules for nav area */
  nav {
    width: 70%;
    float: right;
    margin: 1.5em 1em 1em 0;
    font-size: 0.95em;
  }

  nav li {
    display: inline-block;
    padding: 2%;
    border-top: none;
    border-right: 4px dotted #fff;
    font-family: 'Acme', sans-serif;
  }

  nav li:last-child {
    border-right: none;
  }

  nav li a {
    padding: 0.5em 1em;
  }

  nav li a:hover {
    color: #F4B324;
  }

  nav li a:active {
    color: #EA9A12;
  }

  /* Tab-Desk Viewport: Style rules for main area */
  main {
    clear: left;
    display: block;
  }
}